<h3>Recipes we can all eat!</h3>

<div class="results-container">
  <% @available_recipes.each do |recipe|%>
    <div class="result-recipe">
      <div class="link-recipe"><%= link_to recipe["recipeName"], "http://www.yummly.com/recipe/#{recipe['id']}" %></div>
      <div class="picture-recipe"> <%= image_tag recipe["smallImageUrls"][0] %> </div>
    </div>

  <% end %>
</div>