<h1><%= @party.name %></h1>

<h2>Guests:</h2>
<% @party.users.each do |user| %>
  <%= @user.name, user_path(user) %>
<% end %>

<h2>We Don't Eat:</h2>
<p>Cross-referenced eating restriction query result goes here.</p>