<div class="welcome">

  <header>
    <h1 class="picky-potluck">Picky Potluck</h1>
  </header>
  <div class="welcome-buttons">
    <%= form_tag "/enter", method: "get", class: "welcome-form" do %>
      <%= submit_tag "Enter", class: "action-button shadow animate green-button"%>
    <% end %>
  </div>

</div>