.about-page {
  height: 100%;
}

.team {
  @include outer-container;
  padding-bottom: 2em;
}

.dev {
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  @include span-columns(12);
  @include media($desktop) {
    @include span-columns(4);
  }
  img {
    width: 80%;
  }
}

.signed-out-about {
  height: 100%;
  padding-left: 10px;
  display: inline-block;

  @include span-columns(12);
  @include media($desktop) {
    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 30px;
    }
    p, a {
      font-size: 26px;
    }
  }
}