.animate
{
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.action-button
{
  top: 100px;
  position: relative;
  padding: 10px 10px;
  margin: 0px 10px 10px 0px;
  float: left;
  border-radius: 50%;
  font-size: 26px;
  text-decoration: none;
  height: 100px;
  width: 100px;
  text-align: center;
}

.green-button
{
  font-family: $lobster;
  border: 2px solid $green;
  a:link, a:visited {
    color: $green;
  }
  input:focus {outline:0;}
}

.action-button:active
{
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid;
}