$dark-orange: #B23600;
$light-orange: #FF8A00;
$grey: #33332D;

$background-color: white;
$nav-color: darken($background-color, 10%);
$link-color: $light-orange;
$text-color: black;
$border-color: $dark-orange;