$dark-orange: #B23600;
$light-orange: #FF8A00;
$white: #FFC887;
$grey: #33332D;

$background-color: $dark-orange;
$nav-color: darken($background-color, 10%);
$link-color: $light-orange;
$text-color: $white;
$border-color: $white;