.enter-page {
  // display: inline-block;
  margin-top: 2em;
  width: 100%;
  margin: 0;
  padding: 0;
}

#signin-form {
  float: left;
  margin: 0;
  padding: 0;
  width: 400px;
}

#signup-form {
  float: left;
  margin: 0;
  padding: 0;
  width: 400px;
}