.enter-form {
  @include outer-container;
  .picky-potluck {
    padding-top: 0;
    text-shadow: 1px 2px $border-color;
    font-size: 8em;
    color: $border-highlight;
  }
  form {
    width: 80%;
  }
}

#signin-form, #signup-form {
  margin: 0;
  padding: 0;
  @include span-columns(12);
  @include media($desktop) {
    @include span-columns(6);
  }
}