html {
  width: 100%;
  height: 100%;
}

body {
  background: $background-color;
  width: 100%;
  height: 100%;
}

#container {
  width: 100%;
}

.page-container {
  padding: 1em;
}

h1 {
  padding-top: 0;
  margin-top: 0;
  color: $text-color;
  text-align: center;
  font-family: $lobster;
}

h2, h3, h4, h5, h6 {
  color: $text-color;
  font-family: 'Cabin', sans-serif;
  text-align: center;
}

p, ol, ul, li, label, input {
  color: $text-color;
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: 'Cabin', sans-serif;
  font-size: 20px;

  &:link {
    color: $link-color;
  }
  &:visited {
    color: $link-color;
  }
}