// Later: refactor tree to do all imports elsewhere.
@import "partials/colors.scss";
@import "partials/typography.scss";
@import "partials/forms.scss";

$lobster: 'Lobster Two', cursive;

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: $dark-orange;
}

#container {
  width: 100%;
}

h1 {
  color: $white;
  text-align: center;
  font-family: $lobster;
}


.picky-potluck {
  margin-top: 0;
  margin-bottom: .5em;
  padding-top: 0;
  font-size: 7em;
  color: $white;
  text-shadow: 1px 2px $dark-orange;

}

.welcome {
  background-image: image-url("eggs.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 40em;
}

#byline {
  width: 70%;
  margin-left: 15%;
}

h2, h3, h4, h5, h6 {
  color: $white;
  font-family: 'Cabin', sans-serif;
  text-align: center;
}

p, ol, ul, li, label, input {
  color: $white;
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: 'Cabin', sans-serif;
  font-size: 20px;

  &:link {
    color: $light-orange;
  }
  &:visited {
    color: $light-orange;
  }
}

form {
  margin: 0 auto;
  background: $medium-orange;
  width: 40%;
  border: 2px $white solid;
  padding: 5%;

  input[type=text], input[type=password] {
    background: $white;
    width: 90%;
    color: $dark-orange;
  }

  input[type=submit] {
    background: $dark-orange;
    margin-top: .5em;
  }

  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
      outline-color: $dark-orange;
  }
}

.welcome-form {
  margin-top: -3em;
  margin-left: 47%;
  background: none;
  width: 100%;
  border: none;
  padding: 0;
  a {
    padding: 0;
  }
}

.query-results {
  h3 {
    margin: 0;
  }
  form {
    margin-left: 20%;
    margin-top: 2em;
    width: 50px;
    background-color: $grey;
  }
}

.recipe-results-instructions {
  background: $grey;
  width: 80%;
  margin-top: 2em;
  margin-left: 5%;
  padding: 1em;
  padding-bottom: 2em;
  border: $white solid 2px;
}

.result-recipe {
  background: $maroon;
  border: $white solid 2px;
  width: 300px;
  height: 150px;
  padding: 1em;
  margin: 1em;

  .link-recipe {
    text-align: center;
    a {
      color: $white;
    }
  }

  .picture-recipe {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 100px;

    img {
      width: 100px;
    }
  }
}

// ********** NAV ************* //

nav {
  margin-bottom: 0;
  background-color: $maroon;
  border-bottom: 2px $white solid;

  ul {
    display: inline-block;

    li {
      float: left;
      padding-right: 2em;
    }

    li:nth-child(4) {
      padding-left: 6em;
      text-transform: uppercase;
    }

    a:link, a:visited {
      color: $white;
      font-family: $lobster;
    }
  }
}

// *******PROFILE PAGE******** //

.sidebar {
  display: inline-block;
  width: 35%;
  padding-left: 10px;
  margin-top: 0;
  padding-top: 0;
  h1 {
    padding: 0;
    margin: 0;
  }
}

.left-of-sidebar {
  display: inline-block;
  float: left;
  width: 60%;
  border-right: $white 2px solid;
}

.profile-container {
  margin-top: 0;
  border-top: 2px $white solid;
  padding: 1em;
  h1 {
    text-align: left;
  }
}

.profile-top {
  display: inline-block;
  .userpic {
    float: left;
    img {
      display: inline-block;
      margin-right: 10px;
      height: 100px;
      border: $white 2px solid;
      padding: 5px;
    }
  }
  .identity {
    display: inline-block;
    float: left;
    h1, h4 {
      text-align: left;
      padding-top: 5px;
      margin: 0;
    }
  }

  .edit-profile {
    margin-top: 5px;
    a {
      font-size: .75em;
      padding-bottom: .5em;
    }
    i {
      color: $white;
    }
  }

}