html {
  width: 100%;
  height: 100%;
}

body {
  background-size: cover;
  background: $background-color;
  width: 100%;
  height: 100%;
}

#container {
  height: 100%;
  width: 100%;
  background-size: cover;
}

.page-container {
  padding-left: 10%;
  padding-right: 10%;
}

h1 {
  padding-top: 0;
  margin-top: 0;
  color: $text-color;
  text-align: center;
  font-family: $lobster;
}

h2, h3, h4, h5, h6 {
  color: $text-color;
  font-family: 'Cabin', sans-serif;
  text-align: center;
}

p, ol, ul, li, label, input {
  color: $text-color;
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
}

li {
  list-style-type: none;
}

.button_to {
  position: relative;
  display: inline-block;
}

a {
  text-decoration: none;
  font-family: 'Cabin', sans-serif;
  font-size: 20px;

  &:link {
    color: $link-color;
  }
  &:visited {
    color: $link-color;
  }
}