// Later: refactor tree to do all imports elsewhere.
@import "partials/colors.scss";
@import "partials/typography.scss";
@import "partials/forms.scss";

$lobster: 'Lobster Two', cursive;

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: $dark-orange;
}

#container {
  width: 100%;
}

h1 {
  color: $white;
  text-align: center;
  font-family: $lobster;
}


.picky-potluck {
  margin-top: 0;
  margin-bottom: .5em;
  padding-top: 0;
  font-size: 7em;
  color: $white;
  text-shadow: 1px 2px $dark-orange;

}

.welcome {
  background-image: image-url("eggs.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 40em;
}

#byline {
  width: 70%;
  margin-left: 15%;
}

h2, h3, h4, h5, h6 {
  color: $white;
  font-family: 'Cabin', sans-serif;
  text-align: center;
}

p, ol, ul, li, label, input {
  color: $white;
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: 'Cabin', sans-serif;
  font-size: 20px;

  &:link {
    color: $light-orange;
  }
  &:visited {
    color: $light-orange;
  }
}

form {
  margin: 0 auto;
  background: $medium-orange;
  width: 40%;
  border: 2px $white solid;
  padding: 5%;

  input[type=text], input[type=password] {
    background: $white;
    width: 90%;
    color: $dark-orange;
  }

  input[type=submit] {
    background: $dark-orange;
    margin-top: .5em;
  }

  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
      outline-color: $dark-orange;
  }
}

.welcome-form {
  margin-top: -3em;
  margin-left: 47%;
  background: none;
  width: 100%;
  border: none;
  padding: 0;
  a {
    padding: 0;
  }
}

.result-recipe {
  background: lighten($dark-orange, 3%);
  border: $white solid 2px;
  width: 300px;
  height: 125px;
  padding: 1em;
  margin: 1em;

  .link-recipe {
    text-align: center;
  }

  .picture-recipe {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 100px;

    img {
      width: 100px;
    }
  }
}

// ********** NAV ************* //

nav {
  background-color: $grey;

  ul {
    display: inline-block;

    li {
      float: left;
      padding-right: 2em;
    }
  }
}