.party-deets {
  p {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }
}

.guests-table {
  padding: 0;
  a {
    font-size: 1.2em;
    padding: 0;
    margin: 0;
  }
  form {
    background: none;
    margin: 0;
    padding: 0;
  }
  .guests-name, .guests-bringing {
    width: 16em;
    padding: 0;
    font-weight:bold;
  }
  .guests-rsvp {
    width: 7em;
    font-weight: bold;
  }
}