.sidebar {
  display: inline-block;
  width: 35%;
  padding-left: 10px;
  h1 {
    padding: 0;
    margin: 0;
  }

  .button_to {
  position: relative;
  display: inline-block;
  }
  
  form {
    background: none;
    border: none;
    margin: 0;
    input[type=text] {
      width: 10em;
    }
    input[type=submit] {
      margin: 0;
    }
  }
}

.left-of-sidebar {
  display: inline-block;
  float: left;
  width: 60%;
}

.profile-container {
  margin-top: 0;
  padding: 1em;
  h1 {
    text-align: left;
  }
}

.profile-top {
  display: inline-block;
  .userpic {
    float: left;
    img {
      display: inline-block;
      margin-right: 10px;
      height: 100px;
      border: $border-color 2px solid;
      padding: 5px;
    }
  }
  .identity {
    display: inline-block;
    float: left;
    h1, h4 {
      text-align: left;
      padding-top: 5px;
      margin: 0;
    }
  }

  .edit-profile {
    margin-top: 5px;
    a {
      font-size: .75em;
      padding-bottom: .5em;
    }
    i {
      color: $link-color;
    }
  }

}