.query-results {
  h3 {
    margin: 0;
  }
}

.recipe-results-instructions {
  background: $nav-color;
  width: 80%;
  margin-left: 5%;
  padding: 1em;
  padding-bottom: 2em;
  border: $border-color solid 2px;
}

.result-recipe {
  background: $nav-color;
  border: $border-color solid 2px;
  height: 150px;

  .link-recipe {
    text-align: center;
    a {
      color: $text-color;
    }
  }

  .picture-recipe {
    margin-top: 1em;
    margin-bottom: 1em;

    img {
      width: 100px;
    }
  }
}

#owl-carousel{
  margin-top: 10px;
  .result-recipe{
      padding: 30px 0px;
      text-align: center;
  }
}

.selected{
  background-color: green;
}