.query-results {
  h3 {
    margin: 0;
  }
}

.recipe-results-instructions {
  background: $nav-color;
  width: 80%;
  margin-left: 5%;
  padding: 1em;
  padding-bottom: 2em;
  border: $border-color solid 2px;
}

.result-recipe {
  background: $nav-color;
  border: $border-color solid 2px;
  height: 150px;

  .link-recipe {
    text-align: center;
    a {
      color: $text-color;
    }
  }

  .picture-recipe {
    margin-top: 1em;
    margin-bottom: 1em;

    img {
      @include recipe-pic;
    }
  }
}

#owl-carousel{
  margin-top: 10px;
  .result-recipe{
      padding: 5px 0px;
      text-align: center;
  }
  p, a {
    margin-top: 0;
    padding-top: 0;
    font-size: 1em;
  }
}

.selected{
  border: $border-highlight 5px solid;
  background-color: lighten($background-color, 10%);
}