.picky-potluck {
  margin-top: 0;
  margin-bottom: .1em;
  padding-top: .8em;
  font-size: 10em;
  color: $nav-color;
  text-shadow: 1px 4px $dark-orange;
}

.welcome {
  background-image: image-url("eggs.jpg");
  background-size: cover;
  height: 100%;
}