// scss manifest file, controls import order

@import "bourbon";
@import "neat";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "partials/colors.scss";
@import "partials/typography.scss";
@import "partials/forms.scss";
@import "partials/nav.scss";
@import "partials/main-styles.scss";
@import "partials/buttons.scss";
@import "partials/splash-page.scss";
@import "partials/profile-page.scss";
@import "partials/query-results.scss";
@import "partials/enter-page.scss";