<div class="beta">
  <h2>Open Beta</h2>
  <p>Send bug reports and feature requests to <%= mail_to "pickypotluck@gmail.com" do %> <span>pickypotluck@gmail.com</span><% end %> or join us on <%= link_to "GitHub", "https://github.com/nyc-rock-doves-2015/picky_potluck", :target => "_blank" %>.</p>
</div>